<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL shortner</title>
  </head>
  <body>
    <h1>URL Shortner</h1>
    <form method="POST" action="{{ url_for('index') }}">
      <input type="url" name="long_url" placeholder="Enter the long URL" />
      <button type="submit">Shortner</button>
    </form>
    {% if short_url %}
      <p>
        Shortened URL: <a href="{{ short_url }}">{{ short_url }}</a>
      </p>
    {% endif %}
  </body>
</html>
